# Tinyauth config

# App URL
TINYAUTH_APPURL=https://auth-demo.tinyauth.app

# Users (user:password)
TINYAUTH_AUTH_USERS=user:$$2y$$05$$qx/.HRuUsQigCMzkhH84tuZXwyllGjhlVGl5Jrw0i41yon3dwIaK.

# Use HTTPS-only cookie
TINYAUTH_AUTH_SECURECOOKIE=true

# Disable UI warnings
TINYAUTH_UI_WARNINGSENABLED=false

# Set a nice title
TINYAUTH_UI_TITLE="Tinyauth Demo"

# Remind default password
TINYAUTH_UI_FORGOTPASSWORDMESSAGE="The default username is `user` and the default password is `password`."

# Disable rate-limits
TINYAUTH_AUTH_LOGINMAXRETRIES=0
TINYAUTH_AUTH_LOGINTIMEOUT=0

# Trusted proxies
TINYAUTH_AUTH_TRUSTEDPROXIES=172.30.0.0/24

# Database driver
TINYAUTH_DATABASE_DRIVER=memory

# Do not log user sessions
TINYAUTH_LOG_LEVEL=error

# Traefik config

# Port for Traefik to listen on
TRAEFIK_PORT=80

# Traefik Tinyauth and Demo domains
TRAEFIK_TINYAUTH_DOMAIN=auth-demo.tinyauth.app
TRAEFIK_DEMO_DOMAIN=app-demo.tinyauth.app

# Demo config

# Demo URL
DEMO_URL=https://app-demo.tinyauth.app

# Don't touch this
TINYAUTH_URL=${TINYAUTH_APPURL}

# ...add custom config here
