# Port for Traefik to listen on
TRAEFIK_PORT=80

# Traefik Tinyauth domain
TRAEFIK_TINYAUTH_DOMAIN=auth-demo.tinyauth.app
TRAEFIK_DEMO_DOMAIN=app-demo.tinyauth.app

# Tinyauth app URL
TINYAUTH_APP_URL=https://auth-demo.tinyauth.app

# Demo URL
DEMO_URL=https://app-demo.tinyauth.app

# Tinyauth users (user:password)
TINYAUTH_USERS=demo:$$2y$$05$$qx/.HRuUsQigCMzkhH84tuZXwyllGjhlVGl5Jrw0i41yon3dwIaK.
